
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-size: 14px;
  //font-family: $font-body;
  margin: 0;
  padding: 0;
  background: #f5f1ee;
  direction: rtl;
  color: #555;
}

#root {
  padding: 15px;
}

.Coupon {
  width: 100%;
  max-width: 400px;
  text-align: center;
  //margin: auto;
  padding: 15px;
  background: white;
  position: relative;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.15);
  .Coupon-inner {
    position: relative;
    padding: 0 0 10px;
    width: 100%;
  }
  .Coupon-img {
    margin-bottom: 20px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .Coupon-inner-details {
    //padding: 0 20px;
  }

  h1 {
    font-size: 24px;
  }
  form {
    > div {
      width: 100% !important;
    }
  }
  .Coupon-realization {
    width: 100%;
    padding: 10px;
    text-align: left;

  }
  .form-button {
    text-align: left;
  }
  button {
    color: #fff;
  }
  p {
    margin: 10px 0;
    font-size: 16px;
  }
  .business-details {
    font-size: 14px;
    line-height: 1;
    width: 90%;
    margin: 0 auto;
    border: 1px #ccc dotted;
    border-width: 1px 0 1px 0px;
    .details-row {
      margin-bottom: 15px;
    }
    p {
      margin: 8px 0;
      a {
        color: #585D91
      }
    }
  }

  .terms {
    font-size: 10px;
    margin-top: 20px;
    text-align: right;
    padding-right: 5px;
  }
}